<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand ms-5" href="#">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems"
            aria-controls="menuItems" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse top-menu" id="menuItems">
            <ul class="navbar-nav w-100 justify-content-center">
              <li class="nav-item">
                <a class="nav-link active current" aria-current="page" href="{% url 'home' %}">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Федерация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Соревнования</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'news' %}">Новости</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  История
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">История Самбо в России</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">История Самбо в Курске</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Галерея</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto bm-2 bm-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-user"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      
      <section class="header">
        <div class="container-fluid">
            <div class="container d-flex align-items-center">
                <h1>Федерация</h1>
            </div>
        </div>
    </section>







    <section>
            <div class="container">
        <div class="row ml-5">
            <div class="col-md-12  mb-2 m-5 ">
                <h2 class="ml-5"> О федерации</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  autro ">
                <img class="" src="Kursk.jpg" alt="">
            
        
            
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                     Quia porro debitis repudiandae et quaerat, illum recusandae nesciunt dolorum,
                      est amet dolores tempora exercitationem odio quo dolore tempore libero cumque? Saepe?</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quia porro debitis repudiandae et quaerat, illum recusandae nesciunt dolorum,
                         est amet dolores tempora exercitationem odio quo dolore tempore libero cumque? Saepe?</p>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quia porro debitis repudiandae et quaerat, illum recusandae nesciunt dolorum,
                             est amet dolores tempora exercitationem odio quo dolore tempore libero cumque? Saepe?</p>
            
        </div>

        <div class="col-md-4 offset-md-1  mt-5 pt-5 autro">
            <img src="123.jpg" alt="">
        </div>

    </div>

        

        <div class="container">
            <div class="row">
                <div class="col-md-6-12 ">
                    <hr>
                </div>
            </div>
            <div class="row ml-5">
                <div class="col-md-12  mb-2 m-5">
                    <h2 class="pl-5"> Президиум федерации</h2>
                </div>
            </div>
            <div class="row mt-4">

            <div class="col-md-6  mt-3">
                <div class="image__f">
                    <img src="coach.jpg" alt="" align="left">
                    <h6>Имя Фамилия</h6>
                </div>
            </div>

            <div class="col-md-6  mt-3">
                <div class="image__f">
                    <img src="coach.jpg" alt="" align="left">
                    <h6 class="pl-3">Имя Фамилия</h6>
                    <p style="color: #eee;">должность лица являющегося членом президиома</p>
                </div>
                
            </div>
            </div>

            <div class="row mt-3">

                <div class="col-md-6  mt-3">
                    <div class="image__f">
                        <img src="coach.jpg" alt="" align="left">
                        <h6>Имя Фамилия </h6>
                    </div>
                </div>
    
                <div class="col-md-6  mt-3">
                    <div class="image__f">
                        <img src="coach.jpg" alt="" align="left">
                        <h6 class="">Имя Фамилия sssssss</h6>
                    </div>
                </div>
    
                </div>


        </div>
        


        


    

    </section>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>